body{
    background-image:url(http://constantine.typepad.com/.a/6a0120a7fc3be9970b01bb08d49380970d-pi);
}
h2{
    margin:25px;
    font-family:cursive;
    color:white;
}
h3{
    margin-top:70px;
font-family:cursive;
margin-left:18px;
color:white;
}
p{
    margin-top:70px;
    text-align:center;
}